spawn-at-startup "noctalia-shell"  // to start noctalia-shell at startup
spawn-at-startup "xwayland-satellite"
hotkey-overlay { skip-at-startup; }  // to get rid of hotkeys at startup
prefer-no-csd  // to remove top bar in some applications
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"  // screenshot path

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
    hide-when-typing
}

overview {
    zoom 0.75
}
