layout {
	background-color "#1f1f1f"

    focus-ring {
        active-color "#e46767"
        inactive-color "#696969"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e46767"
        inactive-color "#696969"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1f1f1f70"
    }

    tab-indicator {
        active-color   "#e46767"
        inactive-color "#696969"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e4676780"
    }
}

overview {
	backdrop-color "#1f1f1f"
}
