// binds :)
binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Return hotkey-overlay-title="Open a Terminal: Kitty" { spawn "kitty"; }
    Mod+B hotkey-overlay-title="Open the Browser: Firefox" { spawn "firefox"; }
    Mod+E hotkey-overlay-title="Open the Explorerc: Nautilus" { spawn "nautilus"; }
    Mod+C { spawn "codium"; }
    Ctrl+Shift+Space {spawn-sh "noctalia-shell ipc call wallpaper random"; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    Mod+Space { spawn-sh "noctalia-shell ipc call launcher toggle"; }
    Super+Alt+L { spawn-sh "noctalia-shell ipc call lockScreen lock"; }
    Ctrl+Space { spawn-sh "noctalia-shell ipc call bar toggle"; }
    Mod+W { spawn-sh "noctalia-shell ipc call wallpaper toggle"; }
    Mod+I { spawn-sh "noctalia-shell ipc call settings open"; }
    Mod+Shift+S { screenshot; }

    Mod+Left  { focus-column-left; }
    // Mod+Down  { focus-window-down; }
    // Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    // Mod+Ctrl+J     { move-window-down; }
    // Mod+Ctrl+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Down     { focus-window-or-workspace-down; }
    Mod+Up     { focus-window-or-workspace-up; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
}
