// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "/home/yasir/dotfiles/config/niri/niri/animations.kdl"
include "/home/yasir/dotfiles/config/niri/niri/binds.kdl"
include "/home/yasir/dotfiles/config/niri/niri/input.kdl"
include "/home/yasir/dotfiles/config/niri/niri/layout.kdl"
include "/home/yasir/dotfiles/config/niri/niri/misc.kdl"
include "/home/yasir/dotfiles/config/niri/niri/window-rules.kdl"
// include "/home/yasir/dotifles/config/niri/noctalia.kdl"


