layout {
	background-color "#232617"

    focus-ring {
        active-color "#c8e467"
        inactive-color "#6c705c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#c8e467"
        inactive-color "#6c705c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#23261770"
    }

    tab-indicator {
        active-color   "#c8e467"
        inactive-color "#6c705c"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#c8e46780"
    }
}

overview {
	backdrop-color "#232617"
}
